div.pembukaan {
        <img src="https://i.pinimg.com/564x/9e/43/43/9e43439cfa6b61dc1a481a712154eaf0.jpg" alt=""/>
        background-image: url("");
    font-family: Arial, Helvetica, sans-serif;
    text-align:center;
}
.content {
    grid-area: content;
}
